body {

	background-color: #343a40;
	font-family: 'Permanent Marker', cursive;
	height: 100%;
}

.navbar {

	font-size: 1.3em;
}

.navbar-text {

	padding-right: 9px;
	border-right: 1px solid #000000;
}

.navbar-light .navbar-nav .active > .nav-link {

	color: #111111;
	text-shadow: 0 0 2px #343a40;
}

.navbar-light .navbar-nav .nav-link {

	color: #3b3b3b;
}

.navbar-light .navbar-text {

	color: #3b3b3b;
}

.navbar-dark .navbar-nav .nav-link {

	color: #3b3b3b;
}

.fa-sort-down {

	color: #3b3b3b;
	position: relative;
	top: -3px;
	padding-left: 10px;
}

footer {
	
	width: 100%;
	background: #fff;
}

#ico {

	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.fa-facebook {

	color: #3B5998;
}

.fa-twitter {

	color: #00aced;
}

.fa-google-plus {

	color: #dd4b39;
}

.fa-twitch {

	color: #6441A4;
}

.fa-github {
	
	color: #333;
}


@media only screen and (max-width: 991px) {
	.navbar-text {

		padding-right: 0;
		border-right: 0;
	}
}
