body {

	background-color: #343a40;
	font-family: 'Kanit', sans-serif;
	height: 100%;
}

.navbar {

	font-size: 1.3em !important;
}

.navbar-text {

	padding-right: 9px;
	border-right: 1px solid #000000;
}

.navbar-light .navbar-nav .active > .nav-link {

	color: black;
}

.navbar-light .navbar-nav .nav-link {

	color: #3b3b3b;
}

.navbar-light .navbar-text {

	color: #3b3b3b;
}

.navbar-dark .navbar-nav .nav-link {

	color: #3b3b3b;
}

.dropdown:hover > .dropdown-menu {
	display: block;
}

.fa-sort-down {

	color: #3b3b3b;
	position: relative;
	top: -3px;
	padding-left: 10px;
}

footer {

	width: 100%;
	background: #fff;
}

#ico {

	font-size: 25px;
	padding-top: 10px;
	padding-bottom: 10px;

}

.carousel {

	position: relative;
	top: -32px;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;

}

.carousel-indicators li {

	height: 5px;
}

.fa-facebook-f {

	color: #3B5998;
}

.fa-twitter {

	color: #00aced;
}

.fa-google-plus-g {

	color: #dd4b39;
}

.fa-twitch {

	color: #6441A4;
}

.fa-github {

	color: #333;
}

.fa-discord {
	
	color: #7289DA;
}

#leadFaq {

/*	padding-top: 50px;*/
	color: #3b3b3b;
}

.faqHeader {

	color: #fff;
	font-size: 2em;
}

#faqHr {

	border-color: #fff;
}

.accordion {

	display: block;
	margin: auto;
}

.card-header,
.card-body {

	word-break: break-all;
}

.faq-sect-2 {

	padding-bottom: 90px;
}

#techFaq {

	padding-top: 20px;
}

.btn-link {
	
	color: #3b3b3b;
}

.btn-link:hover {
	
	color: #131313;
}

.table {
	
	padding-bottom: 15px;
}

@media only screen and (max-width: 991px) {
	.navbar-text {

		padding-right: 0;
		border-right: 0;
	}
}

@media only screen and (max-width: 400px) {
	
	.btn-link {
		
		position: relative;
		left: -20px;
	}
}
